* {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: #36393f;
}

.cover-art {
    height: 100px;
    width: auto;
    border: solid black 1px;
}

.result {
    border: solid black 1px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 50%;
    border-radius: 25px;
    margin-left: 100px;
    margin-bottom: 25px;
}

.title {
    margin-bottom: 0;
}

.title-jp {
    color: #444;
}

.song * {
    display: inline;
}