@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i&display=swap&subset=latin-ext');

* {
    font-family: Lato, sans-serif;
    color: #eee;
    margin: 0;
    padding: 0;
}

a {
    outline: 0;
}

body {
    background-color: #36393f;
}

h1 {
    font-size: 24px;
    color: #fff
}

h3 {
    font-size: 16px;
}

head {
    z-index: 1000000;
}

.inline {
    display: inline;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 169px;
}

.download-icon {
    height: 22px;
    width: 22px;
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

.normal-weight {
    font-weight: 200;
}

.small-text {
    font-size: 20px;
}

.permalink-wrapper {
    height: 34px;
    width: 118px;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.copy-link {
    margin-left: 3px;
    margin-right: 10px;
    z-index: 6;
}

.copy-link:hover .permalink-icon {
    opacity: 1;
}

.permalink-icon {
    display: inline-block;
    opacity: 0.6;
    height: 18px;
    width: auto;
    vertical-align: center;
    padding: 2px;
}

.copy-tooltip {
    opacity: 0;
    transition: 3s cubic-bezier(.9,.03,.69,.22);
    font-size: 12px;
}

.permalink-wrapper:active .copy-tooltip {
    opacity: 0.75;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
    transition: 100ms;
}

a.download {
    border-radius: 5px;
    width: 56px;
    height: 22px;
    margin: 0 5px;
    padding: 5px 5px;
    display: inline-block;
    text-align: center;
    opacity: 1;
    user-select: none;
    text-decoration: none;
    text-underline: none;
}

a.download.flac {
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #945c30, #8f3e69);
    background: linear-gradient(to right, #945c30, #8f3e69);
}

a.download.flac:hover{
    background: linear-gradient(to right, #da5b00, #de0871);
}

a.download.cue {
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4f8a, #934a8b);
    background: linear-gradient(to right, #3f4f8a, #934a8b);
}

a.download.cue:hover {
    background: linear-gradient(to right, #4758af, #ff00cc);
}

a.download.mp3 {
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #008a79, #689a32);
    background: linear-gradient(to right, #008a79, #689a32);;
}

a.download.mp3:hover {
    background: linear-gradient(to right, #00b09b, #96c93d);;
}

a.download.small {
    width: 40px;
    height: 18px;
    padding: 3px;
    margin: 0 3px;
    border-radius: 3px;
}

a.download.locked {
    background: linear-gradient(to right, #6e6b6a, #787d7f) !important;
    cursor: not-allowed;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0 -12px 20px 12px #222;
    -moz-box-shadow: 0 -12px 20px 12px #222;
    box-shadow: 0 -12px 20px 12px #222;
    margin-bottom: 50px;
    z-index: 98;
}

#nav-displacement {
    position: relative;
    opacity: 0;
}

.nav {
    margin: 0 100px;
    height: 100%;
    display: grid;
    z-index: 9898;
    grid-template-columns: 2.3fr repeat(3, 0.7fr) 0.5fr repeat(3, 0.27fr) 0.5fr repeat(4, 0.33fr) 1fr
}

.nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
     display: flex;
     align-items: center;
     justify-content: center;
}

.nav-link {
    opacity: 0.7;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: 100ms;
}

.nav-link:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.link-logo {
    transition: 100ms;
}

.link-icon {
    transition: 100ms;
}

.link-logo:hover {
    opacity: 0.8;
}

.link-icon:hover {
    opacity: 0.8;
}

.website-logo {
    height: 25px;
}

.link-icon {
    height: 25px;
    width: auto;
}

.results-title {
    margin-bottom: 25px;
}

.results-title span {
    font-style: italic;
}

.tip {
    font-size: 18px;
    font-style: italic;
    color: #999;
}

.content-wrapper {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 800px 275px;
    grid-column-gap: 25px;
}

.side-search {
    grid-column: 2;
    position: fixed;
    top: 120px;
    left: calc(((100% - 1100px) / 2) + 825px);
    width: calc(100% - (((100% - 1100px) / 2) + 825px) - ((100% - 1100px) / 2));
    z-index: 1;
}

.search-wrapper {
    height: auto;
    width: 100%;
    background-color: rgba(0, 6, 12, 0.085);
    border-radius: 5px 5px 8px 8px;
    margin-bottom: 50px;
}

.search {
    height: auto;
    width: calc(100% - 50px);
    padding: 20px 25px 25px 25px;
}

.search h1 {
    margin-bottom: 8px;
    font-style: italic;
}

.search hr {
    color: #999;
    width: 50%;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
}

.form-label {
    font-size: 12px;
    font-style: italic;
    margin-top: 12px;
    margin-bottom: 5px;
}

label {
    display: block;
    background-color: rgba(0, 6, 12, 0.15);
    height: 25px;
    border-radius: 3px;
}

label.date-label {
    width: 70%;
}

label.submit {
    margin-top: 18px;
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4f82a2, #70328d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4f82a2, #70328d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 35px;
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

label.submit:hover {
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5c89a7, #9d3691);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5c89a7, #9d3691); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

label.submit input {
    font-weight: 700;
    display: inline;
    font-style: italic;
    font-size: 17px;
    cursor: pointer;
    vertical-align: text-top;
    margin-left: 0;
}

input {
    background-color: rgba(0, 0, 0, 0);
    width: calc(100% - 20px);
    border: 0;
    font-size: 13px;
    height: 100%;
    color: #ccc;
    margin-left: 10px;
}

input.date-input {
    margin-left: 7px;
    width: calc(100% - 14px);
}

select {
    background-color: rgba(0, 0, 0, 0);
    width: calc(100% - 6px);
    height: 100%;
    outline: 0;
    border: 0;
    color: #ccc;
    margin-left: 6px;
    font-size: 13px;
    border-radius: 3px;
}

optgroup, option {
    font-family: Lato, sans-serif;
}

optgroup {
    background-color: rgb(0, 6, 12);
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
}

option {
    color: #ccc;
    font-size: 12px;
    background-color: rgb(30, 36, 42)
}

.form-body-hr {
    margin: 12px 0 0 0;
    width: 25% !important;
    opacity: 0.5;
}

.main-content {
    grid-column: 1;
    grid-row: 1;
}

.top-strip {
    height: 5px;
    width: 100%;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px 5px 0 0;
}

.top-strip#search-top-strip {
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cover-art {
    height: auto;
    width: 150px;
    border-radius: 5px;
}

.result-wrapper {
    background-color: rgba(0, 6, 12, 0.085);
    width: 775px;
    margin-bottom: 35px;
    border-radius: 5px 5px 8px 8px;
    z-index: 10;
}

.result {
    padding: 25px;
}

.result-header {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 25px;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 0;
}

.title-jp {
    color: #999;
    font-size: 12px;
    margin-bottom: 6px;
}

.artist {
    display: inline;
    font-size: 16px;
    font-weight: 700;
}

.catalog-number {
    display: inline-block;
    color: #999;
    font-size: 12px;
    margin-bottom: 6px;
}

.release-date {
    font-size: 14px;
}

.comment {
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    color: #999;
    margin-bottom: 12px;
}

.album-listing {
    width: 100%;
}

.list-header {
    width: 100%;
    height: 12px;
    background-color: rgba(0, 6, 12, 0.08);
    border-radius: 5px 5px 0 0;
}

.tl-grid {
    display: grid;
    grid-template-columns: 0.7fr 3fr 5.5fr 1fr 125px;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 700;
    color: #ffffff;
}

.track {
    height: 36px;
    font-size: 13px;
    transition: background-color 100ms;
}

.track:hover {
    background-color: rgba(0, 6, 12, 0.05);
}

.track-id {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-artist {
    display: flex;
    align-items: center;
    justify-content: left;
}

.track-artist-wrapper {
    margin-left: 5px;
    width: 100%;
}

.jp {
    color: #999;
    font-size: 8px;
}

.track-artist p {
    display: block;
}

.track-title {
    display: flex;
    align-items: center;
    justify-content: left;
}

.track-title-wrapper {
    margin-left: 5px;
}

.track-title p {
    display: block;
}

.track-type {
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: 400;
    font-style: italic;
    padding: 2px 3px;
    margin: 0 4px;
    border-radius: 2px;
}

.instrumental {
    background-color: #3759ad;
}

.radio {
    background-color: #a2611f;
}

.track-duration {
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-downloads {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-track {
    font-style: italic;
    margin-top: 10px;
}