@import url('https://fonts.googleapis.com/css?family=Product+Sans:300,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700&display=swap&subset=japanese');

* {
    font-family: "Product Sans", "Noto Sans JP", sans-serif;
    color: #eee;
    margin: 0;
    padding: 0;
}

a {
    outline: 0;
}

body {
    background-color: #303235;
}

h1 {
    font-size: 24px;
    color: #fff
}

h3 {
    font-size: 16px;
}

head {
    z-index: 1000000;
}

p .special {
    color: #f07776;
}

.spacer-20px {
    height: 20px;
    width: 100%;
}

.inline {
    display: inline;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 169px;
}

.download-icon {
    height: 22px;
    width: 22px;
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

.normal-weight {
    font-weight: 200;
}

.small-text {
    font-size: 20px;
}

.permalink-wrapper {
    height: 34px;
    width: 118px;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.copy-link {
    margin-left: 3px;
    margin-right: 10px;
    z-index: 6;
}

.copy-link.small {
    margin: 0 0 0 3px;
}

.copy-link:hover .permalink-icon {
    opacity: 1;
}

.copy-link:active .permalink-icon {
    height: 14px;
    margin-left: 1px;
    margin-right: 1px;
}

.permalink-icon {
    display: inline-block;
    opacity: 0.6;
    height: 18px;
    width: auto;
    vertical-align: center;
    padding: 2px;
}

.permalink-icon.small {
    height: 16px;
    vertical-align: middle;
    margin-bottom: 2px;
}

.copy-tooltip {
    opacity: 0;
    transition: 3s cubic-bezier(.9,.03,.69,.22);
    font-size: 12px;
}

.permalink-wrapper:active .copy-tooltip {
    opacity: 0.75;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
    transition: 100ms;
}

a.download {
    border-radius: 5px;
    width: 56px;
    height: 22px;
    margin: 0 5px;
    padding: 5px 5px;
    display: inline-block;
    text-align: center;
    opacity: 1;
    user-select: none;
    text-decoration: none;
    text-underline: none;
}

a.download.flac, a.md-flac {
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #945c30, #8f3e69);
    background: linear-gradient(to right, #945c30, #8f3e69);
}

a.download.flac:hover{
    background: linear-gradient(to right, #da5b00, #de0871);
}

a.download.cue {
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4f8a, #934a8b);
    background: linear-gradient(to right, #3f4f8a, #934a8b);
}

a.download.cue:hover {
    background: linear-gradient(to right, #4758af, #ff00cc);
}

a.download.mp3, a.md-mp3 {
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #008a79, #689a32);
    background: linear-gradient(to right, #008a79, #689a32);;
}

a.download.mp3:hover {
    background: linear-gradient(to right, #00b09b, #96c93d);;
}

a.download.small {
    width: 35px;
    height: 18px;
    padding: 3px;
    margin: 0 1px;
    border-radius: 3px;
}

a.download.locked, a.locked {
    background: linear-gradient(to right, #6e6b6a, #787d7f) !important;
    cursor: not-allowed;
    pointer-events: none;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 84%;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 0 0 15px 15px;
    height: 70px;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0 -12px 20px 12px #222;
    -moz-box-shadow: 0 -12px 20px 12px #222;
    box-shadow: 15px 15px 15px rgba(24, 24, 24, 0.6);
    margin-bottom: 50px;
    z-index: 98;
}

#nav-displacement {
    position: relative;
    opacity: 0;
}

.nav {
    margin: 0 3%;
    height: 100%;
    display: grid;
    z-index: 9898;
    grid-template-columns: 1.3fr 0.3fr repeat(3, 0.6fr) 0.4fr 0.5fr 0.07fr repeat(2, 0.5fr) 0.7fr repeat(4, 0.33fr) 0.4fr
}

.nav-logo {
    height: 100%;
}

.nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
     display: flex;
     align-items: center;
     justify-content: center;
}

.nav-link {
    opacity: 0.7;
    color: #fff;
    display: block;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    transition: 100ms;
}

.nav-link:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.nav-link.generation {
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    margin-top: 10%;
}

.nav-gen-top {
    font-size: 11px;
    font-weight: 700;

}

.link-logo {
    transition: 100ms;
    height: 100%;
}

.link-icon {
    transition: 100ms;
}

.link-logo:hover {
    opacity: 0.8;
}

.link-icon:hover {
    opacity: 0.8;
}

.website-logo {
    height: 45%;
}

.link-icon {
    height: 25px;
    width: auto;
}

.results-title, span.result-count {
    margin-bottom: 25px;
    display: inline-block;
}

.results-title.has-header {
    color: #cccccc;
}

span.result-count {
    font-style: italic;
}

span.result-count.has-header {
    color: #999999;
}

.tip {
    font-size: 18px;
    font-style: italic;
    color: #999;
}

.content-wrapper {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 800px 275px;
    grid-column-gap: 25px;
}

.side-search {
    grid-column: 2;
    position: fixed;
    top: 120px;
    left: calc(((100% - 1100px) / 2) + 825px);
    width: calc(100% - (((100% - 1100px) / 2) + 825px) - ((100% - 1100px) / 2));
    z-index: 1;
}

.search-wrapper {
    height: auto;
    width: 100%;
    background-color: rgba(0, 6, 12, 0.085);
    border-radius: 5px 5px 8px 8px;
    margin-bottom: 50px;
}

.search {
    height: auto;
    width: calc(100% - 50px);
    padding: 20px 25px 25px 25px;
}

.search h1 {
    margin-bottom: 8px;
    font-style: italic;
}

.search hr {
    color: #999;
    width: 50%;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
}

.form-label {
    font-size: 12px;
    font-style: italic;
    margin-top: 12px;
    margin-bottom: 5px;
}

label {
    display: block;
    background-color: rgba(0, 6, 12, 0.15);
    height: 25px;
    border-radius: 3px;
}

label.date-label {
    width: 70%;
}

label.submit {
    margin-top: 18px;
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4f82a2, #70328d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4f82a2, #70328d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 35px;
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

label.submit:hover {
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5c89a7, #9d3691);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5c89a7, #9d3691); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

label.submit input {
    font-weight: 700;
    display: inline;
    font-style: italic;
    font-size: 17px;
    cursor: pointer;
    vertical-align: text-top;
    margin-left: 0;
}

input {
    background-color: rgba(0, 0, 0, 0);
    width: calc(100% - 20px);
    border: 0;
    font-size: 13px;
    height: 100%;
    color: #ccc;
    margin-left: 10px;
}

input.date-input {
    margin-left: 7px;
    width: calc(100% - 14px);
}

select {
    background-color: rgba(0, 0, 0, 0);
    width: calc(100% - 6px);
    height: 100%;
    outline: 0;
    border: 0;
    color: #ccc;
    margin-left: 6px;
    font-size: 13px;
    border-radius: 3px;
}

optgroup, option {
    font-family: Lato, sans-serif;
}

optgroup {
    background-color: rgb(0, 6, 12);
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
}

option {
    color: #ccc;
    font-size: 12px;
    background-color: rgb(30, 36, 42)
}

.form-body-hr {
    margin: 12px 0 0 0;
    width: 25% !important;
    opacity: 0.5;
}

.main-content {
    grid-column: 1;
    grid-row: 1;
}

.main-title {
    font-size: 38px;
    font-style: italic;
}

hr.main-separator {
    width: 50%;
    color: #999;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    margin: 15px 0;
}

.main-content.text-only p {
    font-size: 17px;
    color: #bbb;
    font-weight: 400;
    line-height: 1.35;
}

.main-content.text-only b, .main-content.text-only i {
    color: #ddd;
}

.main-content.text-only a {
    color: rgb(248, 163, 150);
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.main-content.text-only a:hover {
    color: #ff6c60;
}

.main-content.text-only h3 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 24px;
    font-style: italic;
}

.indent {
    margin-left: 25px;
    display: block;
    width: calc(100% - 25px);
}

.top-strip {
    height: 5px;
    width: 100%;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px 5px 0 0;
}

.top-strip#search-top-strip {
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cover-art {
    height: auto;
    width: 150px;
    border-radius: 5px;
}

.result-wrapper {
    background-color: rgba(0, 6, 12, 0.085);
    width: 775px;
    margin-bottom: 35px;
    border-radius: 5px 5px 8px 8px;
    z-index: 10;
}

.result {
    padding: 25px;
}

.result-header {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 25px;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 0;
}

.title-jp {
    color: #999;
    font-size: 12px;
    margin-bottom: 6px;
}

.artist {
    display: inline;
    font-size: 16px;
    font-weight: 700;
}

.catalog-number {
    display: inline-block;
    color: #999;
    font-size: 12px;
    margin-bottom: 6px;
}

.release-date {
    font-size: 14px;
}

.comment {
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    color: #999;
    margin-bottom: 12px;
}

.album-listing {
    width: 100%;
}

.list-header {
    width: 100%;
    height: 12px;
    background-color: rgba(0, 6, 12, 0.08);
    border-radius: 5px 5px 0 0;
}

.tl-grid {
    display: grid;
    grid-template-columns: 0.7fr 3fr 5.5fr 1fr 125px;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 700;
    color: #ffffff;
}

.track {
    height: 36px;
    font-size: 13px;
    transition: background-color 100ms;
}

.track.highlight {
    border-radius: 4px;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.620, 0.155, 0.480, 0.845);
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(0.620, 0.155, 0.480, 0.845);
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.620, 0.155, 0.480, 0.845);
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% {background-color: rgba(255, 255, 255, 0.05)}
    60% {background-color: rgba(255, 255, 255, 0.02)}
    100% {background-color: rgba(255, 255, 255, 0.05)}
}

@-webkit-keyframes blinker {
    0% {background-color: rgba(255, 255, 255, 0.05)}
    60% {background-color: rgba(255, 255, 255, 0.02)}
    100% {background-color: rgba(255, 255, 255, 0.05)}
}

@keyframes blinker {
    0% {background-color: rgba(255, 255, 255, 0.05)}
    60% {background-color: rgba(255, 255, 255, 0.02)}
    100% {background-color: rgba(255, 255, 255, 0.05)}
}

.track:hover {
    background-color: rgba(0, 6, 12, 0.05);
}

.track-id {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-artist {
    display: flex;
    align-items: center;
    justify-content: left;
}

.track-artist-wrapper {
    margin-left: 5px;
    width: 100%;
}

.jp {
    color: #999;
    font-size: 8px;
}

.track-artist p {
    display: block;
}

.track-title {
    display: flex;
    align-items: center;
    justify-content: left;
}

.track-title-wrapper {
    margin-left: 5px;
}

.track-title p {
    display: block;
}

.track-type {
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: 400;
    font-style: italic;
    padding: 2px 3px;
    margin: 0 4px;
    border-radius: 2px;
}

.instrumental {
    background-color: #3759ad;
}

.radio {
    background-color: #a2611f;
}

.track-duration {
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-downloads {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-track {
    font-style: italic;
    margin-top: 10px;
}

.track-type-mobile {
    display: none;
}

.mobile-only {
    display: none;
}

div.mobile-dropdown, div.mobile-hamburger {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .side-search, .nav-link, .nav-icon, #search-top-strip, .album-download, .cover-art, .list-header, .track-type, .track-downloads {
        display: none !important;
    }
    .nav {
        display: inline;
        margin: initial;
    }
    .nav-wrapper {
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        margin-bottom: 15px;
        height: 50px;
        border-radius: initial;
    }
    .nav-logo {
        height: 100%;
        display: block;
    }
    .link-logo {
        height: 25px;
    }

    div.mobile-hamburger {
        display: block;
        width: 38px;
        height: 38px;
        position: absolute;
        top: 6px;
    }
    .mobile-hamburger.left {
        left: 6px;
    }
    .mobile-hamburger.right {
        right: 6px;
    }
    .mobile-hamburger-link {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.25);
    }

    .hamburger-icon {
        height: 21px;
    }

    div.mobile-dropdown {
        display: none;
        height: auto;
        margin: 0 6px;
        border-radius: 0 0 8px 8px;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
        padding-bottom: 14px;
    }
    div.mobile-dropdown-search {
        background-color: rgba(10, 10, 10, 0.85);
        padding-top: 6px;
    }
    div.mobile-dropdown-nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 32px);
        background-color: rgba(10, 10, 10, 0.62);
        padding-top: 10px;
    }
    .mobile-dropdown-nav-element {
        justify-content: start !important;
        height: 100%;
        margin-left: 12px;
    }
    a.mobile-nav-link {
        display: flex;
        justify-content: initial;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 17px;
        text-decoration: none;
        font-style: italic;
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: 0 0 15px #000000;
        color: #eee;
    }
    #mobile-link-1, #mobile-link-2, #mobile-link-3 {
        grid-column: 1;
    }
    #mobile-link-4, #mobile-link-5, #mobile-link-6 {
        grid-column: 2;
        margin-left: 0;
    }
    #mobile-link-1, #mobile-link-4 {
        grid-row: 1;
    }
    #mobile-link-2, #mobile-link-5 {
        grid-row: 2;
    }
    #mobile-link-3, #mobile-link-6 {
        grid-row: 3;
    }

    .search-wrapper, .search {
        display: block !important;
    }
    .search-wrapper {
        background-color: initial;
        margin-bottom: 0;
    }
    .search {
        padding: 15px;
        width: calc(100% - 30px);
    }
    label {
        background-color: rgba(245, 245, 245, 0.1);
    }
    .search hr {
        color:  #eee;
    }
    .form-body-hr {
        opacity: 0.75;
    }

    .content-wrapper {
        width: calc(100vw - 30px);
        display: block;
        padding: 15px;
    }
    .main-title {
        font-size: 28px;
    }
    .result-count {
        margin-bottom: 15px;
        font-size: 16px;
    }
    hr.main-separator {
        margin: 10px 0;
    }

    .result-wrapper {
        width: 100%;
    }
    .top-strip {
        height: 3px;
        border-radius: 3px 3px 0 0;
    }
    .result {
        padding: 13px 15px 15px 15px;
    }
    .result-header {
        display: grid;
        margin-bottom: 15px;
        grid-template-columns: 100px 1fr;
        grid-column-gap: 15px;
    }
    img.cover-art-mobile {
        width: 100px;
        height: auto;
        border-radius: 3px;
    }
    h1.title {
        font-size: 20px;
    }
    p.title-jp {
        font-size: 10px;
    }
    h3.artist {
        font-size: 14px;
    }
    p.catalog-number {
        font-size: 11px;
    }
    h3.no-track {
        font-size: 14px;
        margin: 0;
    }
    .comment {
        margin-bottom: 0;
    }


    .list-header-mobile {
        display: block !important;
        width: 100%;
        height: 10px;
        background-color: rgba(0, 6, 12, 0.09);
        border-radius: 6px 6px 0 0;
    }
    .track {
        height: 48px;
    }
    .track:hover {
        background-color: initial;
    }
    #track-1 {
        border-radius: 0 0 3px 3px;
    }
    .tl-grid {
        grid-template-columns: 0.45fr 1.8fr 4fr;
        grid-template-rows: 30px 18px;
        padding: 5px 0;
    }
    .track-downloads {
        grid-column: 2/4;
        grid-row: 2;
    }
    .no-wrap {
        max-width: 23vw;
    }
    .title-no-wrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 49.5vw;
    }
    .track-title {
        display: grid;
        grid-template-columns: calc(100% - 12px) 6px;
        grid-column-gap: 6px;
        padding-right: 5px;
    }
    .track-type-mobile {
        display: block;
        height: 15px;
        width: 6px;
        border-radius: 3px;
        align-self: start;
    }
    .track-type-mobile.instrumental {
        background-color: rgb(0, 146, 255);
    }
    .track-type-mobile.radio {
        background-color: rgb(255, 160, 0);
    }
    .mobile-only {
        display: initial;
    }
    .track-id {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .track-duration {
        grid-column-start: 2;
        grid-column-end: 3;
        text-transform: uppercase;
        justify-content: initial;
        font-size: 11px;
        font-style: italic;
        font-weight: 900;
        margin-left: 5px;
    }
    .track-duration-text, .track-duration-text span {
        color: #888;
    }
    .darker-background {
        background-color: rgba(0, 0, 0, 0.045);
        border-radius: 5px;
    }
    .mobile-downloads {
        display: flex;
        align-items: center;
    }
    .download-text {
        display: flex;
        text-transform: uppercase;
        font-size: 11px;
        font-style: italic;
        text-decoration: underline;
        font-weight: 900;
        margin-left: 5px;
        color: #888;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .mobile-downloads-box {
        display: none;
        grid-template-columns: 1fr 1fr;
        height: 35px;
        background: rgb(43, 45, 51);
        width: calc(100% - 10px);
        grid-column-start: 1;
        grid-column-end: 5;
        margin: 5px 5px 0 5px;
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
    }
    .mobile-downloads-inner-box {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    .md-text {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 900;
        font-style: italic;
        color: #ccc;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    .mobile-download-button {
        background: gray;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        margin: 5px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        text-decoration: none;
    }
}






























